<script>function change(value){document.getElementById("vote").value= value;}</script>

<style>
  
html{
    width:100%
}
#main-nav{
    display: flex;
    justify-content:space-evenly;

    flex-direction: row;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
}
#main-nav *{
    flex-grow: 1;
    align-items:center;
  
}

#main-nav #welcome-msg{
    color: grey;
    align-items: baseline;
}

body{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
    color: white;
}
body::before{
    
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right);
}
body::after{
   
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(20% at 10% 40%);
}
.container{
    margin-top:10%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card-team-details{
  position: relative;
    width: 1000px;
    height: 800px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:1px solid rgba(255, 255, 255, 0.5) ;
    border-left:1px solid rgba(255, 255, 255, 0.5) ;
}

.container .card-team-details .content-team-details{
  padding: 20px;
    text-align: center;
}
.Row-img {
  margin-top: 30px;
  display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}
.result{
  margin: 1px;

}
.content-team-details h2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size:50px;
    color: rgb(255, 255, 255);
    pointer-events: none;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  position: relative;
  width: 550px;
    height: 250px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    
    margin-top: 30px;
    padding: 20px;

    border-top:1px solid rgba(255, 255, 255, 0.5) ;
    border-left:1px solid rgba(255, 255, 255, 0.5) ;

}
.info h4{
  font-size: 30px;

}
.a-button{
  
  position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: white;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.form_conianer{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  
}


</style>
  <div class="card-team-details" data-tilt>
    <div class="content-team-details">
      <div class="Row-img"> 
        <div class="col1-Row-img">
          <img  src="<%= response.response[0].teams.home.logo %>" alt="Card image cap">
          <h2 ><%= response.response[0].teams.home.name %></h2>
        </div>
        <div class="col2-Row-img">

          <img  src="<%= response.response[0].teams.away.logo %>" alt="Card image cap">
          <h2 ><%= response.response[0].teams.away.name %></h2>

        </div>
      </div>

      <h3 class="result" ><%= response.response[0].score.fulltime.home %> &nbsp - &nbsp <%= response.response[0].score.fulltime.away %></h3>
        
      <div class="info">
        <h4  >Time: <%=new Date(response.response[0].fixture.date).toString().substring(0, 21)
          %>  </h4 >
          <h4  >Referee: <%= response.response[0].fixture.referee %>  </h4 >
          <h4  ><%= response.response[0].fixture.venue.city %> <%= response.response[0].fixture.venue.name %></h4 >
      </div>
         
          
         
        <div class="form_conianer">
            <form  id ="voteChoice" action="/match/vote?matchID=<%= response.response[0].fixture.id %>" method="POST" class="form">
           
              <h4>Who will win</h4>
            
            <input type="text" id= "vote" name="vote" class="form__input__text"  hidden="hidden">
            <input class="a-button"onclick="change('teamOne')"type="submit" value="<%= response.response[0].teams.home.name %>" class="form__input__submit">
            <input class="a-button"onclick="change('tie')" type="submit" value="tie" class="form__input__submit">
            <input class="a-button"onclick="change('teamTwo')" type="submit" value="<%= response.response[0].teams.away.name %>" class="form__input__submit">
            </form>
        </div>
        
    </div>
</div>
    


